
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: var(--typography-font-main);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
  overflow: hidden;
  color: var(--colors-text-primary);
  background: var(--colors-bg-primary);
}

#root {
  width: 100%;
  height: 100%;
}
