:root {
  background-color: transparent;
}

html {
  background: transparent;
}

body {
  background: transparent;
  text-align: center;
  margin: 0;
  padding: 0;
}

#root {
  background: transparent;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: transparent;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}


.status-text {
  color: white;
  font-family: var(--typography-font-main);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  background: rgba(54, 57, 63, 0.3);
  padding: 2px 6px;
  border-radius: 8px;
  backdrop-filter: blur(12px) saturate(180%);
}


/* Override the light mode media query from index.css */
@media (prefers-color-scheme: light) {
  :root {
    background-color: transparent;
  }
  html {
    background: transparent;
  }
  body {
    background: transparent;
  }
}
